[submodule "themes/hallo"]
	path = themes/hallo
	url = https://github.com/janbaudisch/zola-hallo.git
[submodule "amazon-cloudfront-secure-static-site"]
	path = amazon-cloudfront-secure-static-site
	url = https://github.com/aws-samples/amazon-cloudfront-secure-static-site.git
